* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: times;
}
.content {
    display: grid;
    grid-template-columns: 1;
    grid-template-areas: 
    'he'
    'fi'
    'se'
    'th'
    'fo';
}
header, #first, #second, #third, footer {
    padding: 5vh 10vh;
}
#first p, #second p, #third p, footer p{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    line-height: 25px;
}
header {
    grid-area: he;
    background-color: #c0392b;
    display: flex;
    justify-content: space-between;
    font-size: 110%;
}
header ul {
    list-style: none;
    display: flex;
}
header li {
    margin-left: 40px;
}
header a {
    color: #fff;
}
#welcome, #about {
    line-height: 25px;
}
#first {
    grid-area: fi;
    max-width: 70%;
}
#first button {
    background-color: #c0392b;
    color: #fff;
    border: none;
    padding: 1vh 2vh;
    font-size: 110%;
    cursor: pointer;
    margin-top: 2vh;
    border: 3px solid transparent;
}
#first button:hover {
    background-color: #fff;
    border: 3px solid #c0392b;
    color: #000;
}
#second {
    grid-area: se;
    max-width: 95%;
    display: flex;
}
.y {
    width: 400px;
    margin: 5vh;
}
#third {
    grid-area: th;
    max-width: 100%;
}
footer {
    grid-area: fo;
    background-color: #161616;
    text-align: center;
}
footer p {
    color: #fff;
}
#search {
    display: flex;
    background-color: #dfdfdf;
    max-width: 40vh;
    padding: 10px 20px;
    justify-content: space-between;
}
#img-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    width: 130vh;
}
.seller_card {
    width: 30vh;
    background-color: #e4e4e4;
}
.seller_card img {
    width: 30vh;
}
.seller_card_text {
    padding: 4vh 4vh 3vh 4vh;
}
.seller_card p {
    margin-top: 1vh;
    font-size: 80%;
}
.seller_card button {
    margin-top: 2vh;
    background-color: #c0392b;
    color: #fff;
    cursor: pointer;
    padding: 1vh 2vh;
    border: 2px solid transparent;
}
.seller_card button:hover {
    background-color: transparent;
    border: 2px solid #c0392b;
    color: #000;
}
#top-selling-paintings {
    display: grid;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 100%;
    margin: 5vh 0;
}
#top-selling-paintings section {
    width: 28vh;
    height: 28vh;
    background-size: cover;
}
#top-selling-paintings section:hover {
    cursor: pointer;
}
#s1 {
    background-image: url(../img/art-work-1.jpg); 
}
#s2 {
    background-image: url(../img/artwork-2.jpg);
}
#s3 {
    background-image: url(../img/artwork-3.jpg);
}
#s4 {
    background-image: url(../img/artwork-4.jpg);
}
#s5 {
    background-image: url(../img/artwork-5.jpg);
}
#s6 {
    background-image: url(../img/artwork-6.jpg);
}
#create-article, #details, #payment {
    border: 1px solid #a3a3a3;
    padding: 3vh;
    margin-bottom: 3vh;
}
#create-article h2 {
    margin-bottom: 1vh;
}
input, textarea {
    padding: 0.7vh;
    border: 1px solid black;
    border-radius: none;
}
textarea {
    max-width: 100%;
    min-width: 25%;
    max-height: 30vh;
    min-height: 10vh;
}
form * {
    margin: 0.3vh 0;
}
form {
    margin: 1vh 0;
}
#add-picture button {
    background-color: white;
    border: 2px solid #c0392b;
    color: #000;
    font-size: 95%;
    padding: 0.5vh 1vh;
    margin-right: 1vh;
}
#add-picture button:hover {
    border: 2px solid #c0392b;
}
#payment {
    text-align: center;
}